.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/3874/3874176.png');
    /* background-image: url('/assets/3874176.png'); */
    background-size: cover;
  }