<mat-toolbar color="primary">
    <a class="tdeco  whitecolor" routerLink="/" >
        <mat-icon>school</mat-icon>
    
    <span class="ml10">Testify</span>
</a>
    <span class="example-spacer"></span>

    <a 
    *ngIf="!isLoggedIn"
    routerLink="/login" 
    class="tdeco whitecolor">Login</a>

    <a 
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'" 
    class="ml20 mr20 tdeco whitecolor" >Register</a>

    <button mat-button color="white"
    *ngIf="isLoggedIn && user"
    class="ml20 mr10 tdeco whitecolor" routerLink="/admin/profile">

    {{user['username']}}
</button>

    <button mat-button color="white"
    (click)="logout()"
    [routerLink]="'/login'" 
    *ngIf="isLoggedIn"
    class="ml10 mr20 tdeco whitecolor">Logout</button>

</mat-toolbar>